		#mercury {
			animation-name: planets;
			animation-duration: 9s;
			animation-timing-function: linear;
			animation-iteration-count: infinite;
			transform-origin: 50% 50%;
		}

		#venus {
			animation-name: planets;
			animation-duration: 25s;
			animation-timing-function: linear;
			animation-iteration-count: infinite;
			transform-origin: 50% 50%;
		}

		#earth {
			animation-name: planets;
			animation-duration: 36s;
			animation-timing-function: linear;
			animation-iteration-count: infinite;
			transform-origin: 50% 50%;
		}

		@keyframes planets {
			0% {
				transform: rotate(0deg);
			}
			100% {
				transform: rotate(360deg);
			}
	}